.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(93, 93, 216);
  height: 25rem;
  width: 25rem;
  margin: 1rem auto 0 auto;
  box-shadow: 10px 10px 5px #aaaaaa;
}

input {
  margin: 0.7rem;
  border: none;
  background: none;
  background-color: rgb(189, 189, 214);
  padding: 0.7rem;
  font-family: serif;
  cursor: pointer;
}

input:hover {
  border-left: 1.5px solid rebeccapurple;
}

input[type="submit"] {
  border: none;
  border-radius: 0.1rem;
  margin-top: 2rem;
}

input[type="submit"]:hover {
  border-bottom: 2px solid rebeccapurple;
  background-color: rgb(131, 131, 202);
}
